/.phpunit.cache
/laravel/node_modules
/react/node_modules
/laravel/public/build
/laravel/public/hot
/laravel/public/storage
/laravel/storage/*.key
/laravel/storage/pail
/laravel/storage/debugbar
/laravel/vendor
/laravel/.env
/laravel/.env.backup
/laravel/.env.production
/laravel/.phpactor.json
/laravel/.phpunit.result.cache
/laravel/Homestead.json
/laravel/Homestead.yaml
/laravel/auth.json
/laravel/npm-debug.log
/laravel/yarn-error.log
/.fleet
/.idea
/.vscode
/.zed
