.vltava-button {
    margin-right: 15px;
    margin-bottom: 5px;


    .vltava-button-content {
        box-sizing: border-box;
        border-radius: 5px;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
    }


    color: black;
    text-decoration: none;
}
