{
    frankenphp
    admin off
    debug
    log {
        level DEBUG
    }
}

:80 {
    root * /app/public
    encode zstd br gzip

    request_body {
        max_size 2GB
    }

    route {
        php_server
    }
}
