@use '../abstracts/mixins' as mixins;

main{
    height: 100vh;
    overflow: hidden;
}
.container {
    margin: 0 auto;
    width: 95vw;
    height: 100vh;
}
.menu {
    margin-top: 65px;
    padding-top: 5vh;
}
